<main id="main-container">
    <section>
        <div class="container"><%= render partial: 'shared/error', locals: { error_prone: @user } %></div>

        <%= render partial: 'form' %>

    </section>
</main>