<main id="main-container">
  <section class="mt-3 mb-8">
      <div class="container mx-auto w-75">
        <h1 class="text-center mx-auto mb-0">Alpha Bloggers!</h1>
        
      <div class="flickr_pagination mt-3">
        <%= will_paginate @users, :container => false %>
      </div>
      
      <%= render 'users' %>
      
      <div class="flickr_pagination mb-3">
        <%= will_paginate @users, :container => false %>
      </div>

    </div>
  </section>
</main>