<% if flash.now[:alert] %>
  <div class="container alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash.now[:alert] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if flash.now[:notice] %>
  <div class="container alert alert-success alert-dismissible fade show" role="alert">
    <%= flash.now[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>