<footer class="footer fixed-bottom py-3 bg-dark">
  <div class="container text-center">
    <span class="text-light"> Copyright &copy; <a href="https://github.com/Jacksonishere" class="link-light">Jackson</a></span>
  </div>
</footer>