<main id="main-container">
    <div class="container-fluid w-75">
        <h1 class="text-center">Edit category</h1>
        <%= link_to 'Return to articles listing', articles_path %>
        <%= render partial: 'form' %>
    </div>
</main>